<main>
  <div class="container">
      <div class="jumbotron" style="background-color: white">
          <h1 class="display-1">Restaurant Menu</h1>
          <button type="button" class="btn btn-primary"><a [routerLink]='["/previousOrders"]' style="color:white">Previous Orders</a></button>
          <p class="lead">Welcome to our restaurant! Please select a menu option to begin ordering.</p>
          <div class="btn-group btn-group-lg" role="group" aria-label="...">
              <button type="button" class="btn btn-primary"><a [routerLink]='["/appetizers"]' style="color:white">Appetizers</a></button>
              <button type="button" class="btn btn-primary"><a [routerLink]='["/entrees"]' style="color:white">Entrees</a></button>
              <button type="button" class="btn btn-primary"><a [routerLink]='["/sides"]' style="color:white">Sides</a></button>
              <button type="button" class="btn btn-primary"><a [routerLink]='["/drinks"]' style="color:white">Drinks</a></button>
              <button type="button" class="btn btn-primary"><a [routerLink]='["/desserts"]' style="color:white">Desserts</a></button>
              <button type="button" class="btn btn-primary"><a [routerLink]='["/cart"]' style="color:white">Cart</a></button>
          </div>
      </div>
  </div>
</main>
